@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
@using LoLTournament.Models.Financial
@model LoLTournament.Models.Admin.AdminFinanceViewModel

<h1>Finances</h1>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Transactions</h3>
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-striped table-hover">
            <tr>
                <th>ID</th>
                <th>Team</th>
                <th>Method</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Payee name</th>
                <th>Payee IBAN</th>
                <th>Payment date</th>
                <th>Actions</th>
            </tr>
            @foreach (var p in Model.Payments)
            {
                <tr>
                    <td><code>@p.MollieId</code></td>
                    <td><a href="@Url.Action("Team", "Admin", new RouteValueDictionary {{"teamId", @p.TeamId}})">@p.TeamName</a></td>
                    <td>@p.Method</td>
                    <td>&euro; @p.Amount</td>
                    <td>
                        @if (@p.Status == PaymentStatus.Cancelled || @p.Status == PaymentStatus.Expired || @p.Status == PaymentStatus.Refunded)
                        {
                            <span class="label bg-red">@p.Status</span>
                        }
                        else if (@p.Status == PaymentStatus.Paid || @p.Status == PaymentStatus.Paidout)
                        {
                            <span class="label bg-green">@p.Status</span>
                        }
                        else
                        {
                            <span class="label bg-orange">@p.Status</span>
                        }
                    </td>
                    <td>
                        @if (@p.Details != null)
                        {
                            @p.Details.ConsumerName
                        }
                    </td>
                    <td>
                        @if (@p.Details != null)
                        {
                            @p.Details.ConsumerAccount
                        }
                    </td>
                    <td>
                        <i class="fa fa-clock-o"></i>
                        @if (p.PaidDateTime != null)
                        {
                            @TimeZoneInfo.ConvertTimeFromUtc(p.PaidDateTime.Value, TimeZoneInfo.Local)
                        }
                    </td>
                    <td><a href="@Url.Action("Refund", "Admin", new RouteValueDictionary {{"transactionId", @p.Id}})"><i class="fa fa-undo text-red" title="Refund"></i></a></td>
                </tr>
            }
        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->