@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
@model LoLTournament.Models.Admin.AdminDashboardViewModel

<h1>Dashboard</h1>

<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@Model.TeamCount</h3>
                <p>teams</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-people"></i>
            </div>
            <a href="@Url.Action("Teams", "Admin")" class="small-box-footer">view <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@Model.Teambuilders</h3>
                <p>people looking for a team</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-person-outline"></i>
            </div>
            <a href="@Url.Action("TeamBuilder", "Admin")" class="small-box-footer">view <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>&euro; @Model.PaymentsReceived</h3>
                <p>received in payments</p>
            </div>
            <div class="icon">
                <i class="ion ion-cash"></i>
            </div>
            <a href="@Url.Action("Finance", "Admin")" class="small-box-footer">view <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@Model.PendingPayments</h3>
                <p>pending payments</p>
            </div>
            <div class="icon">
                <i class="ion ion-load-a"></i>
            </div>
            <a href="@Url.Action("Finance", "Admin")" class="small-box-footer">view <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div><!-- ./col -->
</div><!-- /.row -->

<br/><br/><br /><br />
<div class="text-center bottom">
    <img src="~/Content/Images/logo.png"/>
</div>