@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
@using RiotSharp.LeagueEndpoint
@model LoLTournament.Models.Admin.AdminParticipantsViewModel

<h1>Participants</h1>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Currently registered participants</h3>
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Summoner name</th>
                <th>Current league</th>
                <th>Previous league</th>
                <th>MMR</th>
                <th>MMR sigma</th>
                <th>MMR DR*</th>
                <th>Team</th>
                <th>Study programme</th>
                <th>E-mail</th>
                <th>Student number</th>
                <th>RU student</th>
                <th>CognAC member</th>
                <th>Dorans member</th>
                <th>Team captain</th>
                <th>Register date</th>
            </tr>
            @foreach (var p in Model.Participants)
            {
                <tr>
                    <td>@p.FullName</td>
                    <td><a href="//lolking.net/summoner/euw/@p.Summoner.Id">@p.Summoner.Name</a></td>
                    <td>
                        @{
                            string color;
                            switch (p.CurrentSeasonTier)
                            {
                                case Tier.Unranked:
                                    color = "333";
                                    break;
                                case Tier.Bronze:
                                    color = "6E3A07";
                                    break;
                                case Tier.Silver:
                                    color = "ADB3C6";
                                    break;
                                case Tier.Gold:
                                    color = "F0AD4E";
                                    break;
                                case Tier.Platinum:
                                    color = "5CB85C";
                                    break;
                                case Tier.Diamond:
                                    color = "5BC0DE";
                                    break;
                                case Tier.Master:
                                    color = "337AB7";
                                    break;
                                case Tier.Challenger:
                                    color = "D9534F";
                                    break;
                                default:
                                    color = "777";
                                    break;
                            }
                        }
                        <span class="label" style="background-color: #@color;">@p.CurrentSeasonTier @p.CurrentSeasonDivision</span>
                    </td>
                    <td>
                        @{
                            switch (p.PreviousSeasonTier)
                            {
                                case Tier.Unranked:
                                    color = "333";
                                    break;
                                case Tier.Bronze:
                                    color = "6E3A07";
                                    break;
                                case Tier.Silver:
                                    color = "ADB3C6";
                                    break;
                                case Tier.Gold:
                                    color = "F0AD4E";
                                    break;
                                case Tier.Platinum:
                                    color = "5CB85C";
                                    break;
                                case Tier.Diamond:
                                    color = "5BC0DE";
                                    break;
                                case Tier.Master:
                                    color = "337AB7";
                                    break;
                                case Tier.Challenger:
                                    color = "D9534F";
                                    break;
                                default:
                                    color = "777";
                                    break;
                            }
                        }
                        <span class="label" style="background-color: #@color;">@p.PreviousSeasonTier</span>
                    </td>
                    <td>@p.MMR.ToString("0")</td>
                    <td>@p.MMRUncertainty.ToString("0.00")</td>
                    <td>@p.DynamicRatio.ToString("0.00")</td>
                    <td><a href="@Url.Action("Team", "Admin", new RouteValueDictionary {{"teamId", @p.Team.Id}})">@p.Team.Name</a></td>
                    <td>@p.StudyProgram</td>
                    <td>@p.Email</td>
                    <td>@p.StudentNumber</td>
                    <td>
                        @if (@p.RuStudent)
                        {
                           <span class="label bg-green">Yes</span>
                        }
                        else
                        {
                            <span class="label bg-red">No</span>
                        }
                    </td>
                    <td>
                        @if (@p.CognAC)
                        {
                            <span class="label bg-green">Yes</span>
                        }
                        else
                        {
                            <span class="label bg-red">No</span>
                        }
                    </td>
                    <td>
                        @if (@p.Dorans)
                        {
                            <span class="label bg-green">Yes</span>
                        }
                        else
                        {
                            <span class="label bg-red">No</span>
                        }
                    </td>
                    <td>
                        @if (@p.IsCaptain)
                        {
                            <span class="label bg-green">Yes</span>
                        }
                        else
                        {
                            <span class="label bg-red">No</span>
                        }
                    </td>

                    <td><i class="fa fa-clock-o"></i> @TimeZoneInfo.ConvertTimeFromUtc(p.RegisterTime, TimeZoneInfo.Local)</td>
                </tr>
            }
        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->

<p>*Dynamic Ratio. Shows how much the previous season ranking is taken into account. A value of 0 indicates the MMR is based solely on the current season while a value of 1 indicates the MMR is based solely on the previous season.</p>