@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
@using LoLTournament.Models.Financial
@model LoLTournament.Models.Admin.AdminTeamsViewModel

<h1>Teams</h1>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Currently registered teams</h3>
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Payment status</th>
                <th width="5%">RU</th>
                <th width="5%">CognAC</th>
                <th width="5%">Dorans</th>
                <th>Pool</th>
                <th>MMR</th>
                <th>MMR sigma</th>
                <th>Actions</th>
            </tr>
            @foreach (var t in Model.Teams)
            {
                <tr style="@(t.Cancelled ? "color:#ccc" : "")">
                    <td><a href="@Url.Action("Team", "Admin", new RouteValueDictionary {{"teamId", @t.Id}})">@t.Name</a></td>
                    <td>
                        @if (@t.Payment.Status == PaymentStatus.Cancelled || @t.Payment.Status == PaymentStatus.Expired || @t.Payment.Status == PaymentStatus.Refunded)
                        {
                            <span class="label bg-red">@t.Payment.Status</span>
                        }
                        else if (@t.Payment.Status == PaymentStatus.Paid || @t.Payment.Status == PaymentStatus.Paidout)
                        {
                            <span class="label bg-green">@t.Payment.Status</span>
                        }
                        else
                        {
                            <span class="label bg-orange">@t.Payment.Status</span>
                        }
                    </td>
                    <td>
                        @t.AmountOfRuStudents
                    </td>
                    <td>
                        @t.CognACCount
                    </td>
                    <td>
                        @t.DoransCount
                    </td>
                    <td>Pool @(t.Pool+1)</td>
                    <td>@t.MMR.ToString("0")</td>
                    <td>@t.MMRUncertainty.ToString("0.00")</td>
                    <td>
                        @if (!t.Cancelled)
                        {
                            <a href="@Url.Action("DeleteTeam", "Admin", new RouteValueDictionary {{"teamId", @t.Id}})"><i class="fa fa-minus-circle text-red" title="Delete team"></i></a>
                            <a href="@Url.Action("DisqualifyTeam", "Admin", new RouteValueDictionary {{"teamId", @t.Id}})"><i class="fa fa-sign-out text-orange" title="Disqualify team"></i></a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->