@using System.Globalization
@using System.Web.Configuration
@using LoLTournament.Helpers
@using LoLTournament.Models
@using RiotSharp.LeagueEndpoint
@model LoLTournament.Models.TeamViewModel

@if (@Model == null || @Model.Team == null)
{
    <h2>Team does not exist</h2>
}
else
{
    <h2>@Model.Team.Name <span class="label label-success" style="font-size: 11px; vertical-align:middle">Pool @Model.Team.Pool</span></h2>

    foreach (var p in @Model.Team.Participants.OrderByDescending(x => Math.Max((int)x.Season4Tier, (int)x.Season5Tier)))
    {
        var maxTier = (Tier)Math.Max((int)p.Season4Tier, (int)p.Season5Tier);
        string color;
        switch (maxTier)
        {
            case Tier.Unranked:
                color = "333";
                break;
            case Tier.Bronze:
                color = "6E3A07";
                break;
            case Tier.Silver:
                color = "ADB3C6";
                break;
            case Tier.Gold:
                color = "F0AD4E";
                break;
            case Tier.Platinum:
                color = "5CB85C";
                break;
            case Tier.Diamond:
                color = "5BC0DE";
                break;
            case Tier.Master:
                color = "337AB7";
                break;
            case Tier.Challenger:
                color = "D9534F";
                break;
            default:
                color = "777";
                break;
        }
        <a href="http://www.lolking.net/summoner/euw/@p.Summoner.Id" style="text-decoration: none;" title="@maxTier"><span class="label" style="background-color: #@color;">@p.SummonerName</span></a>
    }

    <h3>Next match</h3>
    if (DateTime.Now < DateTime.ParseExact(WebConfigurationManager.AppSettings["TournamentStart"], "yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture))
    {
        <p>Tournament hasn't started yet.</p>
    }
    else if (Model.NextMatch == null)
    {
        <p>No more matches to play.</p>
    }
    else if (!Model.OtherTeamDefined)
    {
        <p>Your next opponent has not yet been defined because their pool or elimination match has not yet finished. Keep refreshing.</p>
    }
    else
    {
        <div class="panel panel-info">
            <div class="panel-heading">
                <span class="label label-primary" style="font-size: 11px; vertical-align: middle">@Model.NextMatch.Phase.GetDisplayString()</span>
                <a href="@Url.Action("Team", "Timetable", new RouteValueDictionary {{"teamId", Model.NextMatch.BlueTeamId}})">@Model.NextMatch.BlueTeam.Name</a> versus <a href="@Url.Action("Team", "Timetable", new RouteValueDictionary {{"teamId", Model.NextMatch.PurpleTeamId}})">@Model.NextMatch.PurpleTeam.Name</a>
            </div>
            <div class="panel-body">
                @if (Model.OtherTeamReady)
                {
                    <h4>How to enter tournament lobby</h4>
                    if (!IpHelper.IsAllowed(HttpContext.Current))
                    {
                        <div class="alert alert-danger" role="alert">You are not connected to the RU network. Connect the correct ethernet cable or connect to eduroam. If you think you are correctly connected, notify crew member Steven.</div>
                    }
                    else
                    {
                        <p>
                            Go to <b>Play &raquo; Custom &raquo; Tournament Code</b> in your League of Legends client and enter the following code:<br /><br />

                            <input type="text" class="form-control" style="display: inline" value="@Model.NextMatch.TournamentCode" onfocus=" this.select() " onclick=" this.select() " /> click box, copy paste
                            <hr />

                            If one of the participants does not own at least 6 champions, all 10 participants should use the following code:<br /><br />

                            <input type="text" class="form-control" style="display: inline" value="@Model.NextMatch.TournamentCodeBlind" onfocus=" this.select() " onclick=" this.select() " /> click box, copy paste
                            <hr />

                            <b>@Model.NextMatch.BlueTeam.Name</b> is on the <b style="color: #337AB7">blue</b> side (left in lobby), while <b>@Model.NextMatch.PurpleTeam.Name</b> is on the <b style="color: #7D26CD;">purple</b> side (right in lobby).<br />
                            No players have to be invited since everyone can join the lobby using the tournament code, even spectators.
                        </p>
                    }
                }
                else
                {
                    <p>The other team has not finished their current match yet. Refresh the page or refresh yourself with a drink from the bar.</p>
                }
            </div>
        </div>
    }

    <h3>Tournament statistics</h3>
    <ul class="list-group" style="max-width: 300px">
        <li class="list-group-item">
            <span class="badge">@Model.WinPercentage%</span>
            Wins
        </li>
        <li class="list-group-item">
            <span class="badge">@Model.TotalKills</span>
            Kills
        </li>
        <li class="list-group-item">
            <span class="badge">@Model.TotalDeaths</span>
            Deaths
        </li>
        <li class="list-group-item">
            <span class="badge">@Model.TotalAssists</span>
            Assists
        </li>
        <li class="list-group-item">
            <span class="badge">@Model.TotalPlayTime</span>
            Total play time
        </li>
    </ul>

    <h3>Match history</h3>
    if (Model.MatchHistory == null || Model.MatchHistory.Count == 0)
    {
        <p>No matches played yet.</p>
    }
    else
    {
        foreach (var m in Model.MatchHistory)
        {
            var color = m.WinnerId == Model.Team.Id ? "success" : "danger";
            var otherTeamId = Model.Team.Id == m.BlueTeamId ? m.PurpleTeamId : m.BlueTeamId;
            var otherTeamName = Model.Team.Id == m.BlueTeamId ? m.PurpleTeam.Name : m.BlueTeam.Name;

            <div class="panel panel-@color">
                <div class="panel-heading">
                    <div style="float:right" title="@m.Duration">@((m.FinishTime - m.Duration).ToShortTimeString()) - @m.FinishTime.ToShortTimeString()</div>
                    <span class="label label-primary" style="font-size: 11px; vertical-align:middle">@m.Phase.GetDisplayString()</span>
                    <a href="@Url.Action("Team", "Timetable", new RouteValueDictionary { { "teamId", otherTeamId} })">@otherTeamName</a>
                </div>
                <div class="panel-body">
                    <a href="http://matchhistory.euw.leagueoflegends.com/en/#match-details/EUW1/@(m.RiotMatchId)/@(Model.Team.Captain.Summoner.Id)?tab=overview">Match statistics</a>
                </div>
            </div>
        }
    }
}
