@model LoLTournament.Models.TeambuilderViewModel

@using (Ajax.BeginForm("Teambuilder", "Register", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "ParentDiv" }))
{
    <hr />
    <div class="form-group">
        <strong>@Html.DisplayNameFor(x => x.Name)</strong>
        <div>
            <div style="display:inline-block; width: 280px;">@Html.TextBoxFor(x => x.Name, new { @class = "form-control summonerName" })</div>
            <div id="NameInfo" style="display:inline-block; margin: 0px; padding: 0px; vertical-align: top;"></div>
        </div>
    </div>
    <div class="form-group">
        <strong>@Html.DisplayNameFor(x => x.RealName)</strong>
        <div>
            <div style="display:inline-block; width: 280px;">@Html.TextBoxFor(x => x.RealName, new { @class = "form-control" })</div> <div>@Html.ValidationMessageFor(model => model.RealName)</div>
        </div>
    </div>
    <div class="form-group">
        <strong>@Html.DisplayNameFor(x => x.Email)</strong>
        <div>
            <div style="display: inline-block; width: 280px;">@Html.TextBoxFor(x => x.Email, new {@class = "form-control"})</div>
            <div>@Html.ValidationMessageFor(model => model.Email)</div>
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.CheckBoxFor(x => x.RUStudent) <strong style="vertical-align:top; padding-left:10px;">@Html.DisplayNameFor(x => x.RUStudent)</strong> <div>@Html.ValidationMessageFor(model => model.RUStudent)</div>
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.CheckBoxFor(x => x.CognAC) <strong style="vertical-align: top; padding-left: 10px;">@Html.DisplayNameFor(x => x.CognAC)</strong>
            <div>@Html.ValidationMessageFor(model => model.CognAC)</div>
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.CheckBoxFor(x => x.Dorans) <strong style="vertical-align: top; padding-left: 10px;">@Html.DisplayNameFor(x => x.Dorans)</strong>
            <div>@Html.ValidationMessageFor(model => model.Dorans)</div>
        </div>
    </div>
    <div class="form-group">
        <strong>@Html.DisplayNameFor(x => x.Study)</strong>
        <div>
            <div style="display: inline-block; width: 280px;">@Html.TextBoxFor(x => x.Study, new {@class = "form-control"})</div>
            <div>@Html.ValidationMessageFor(model => model.Study)</div>
        </div>
    </div>
    <div class="form-group">
        <strong>@Html.DisplayNameFor(x => x.StudentNumber)</strong>
        <div>
            <div style="display:inline-block; width: 280px;">@Html.TextBoxFor(x => x.StudentNumber, new { @class = "form-control" })</div> <div>@Html.ValidationMessageFor(model => model.StudentNumber)</div>
        </div>
        <hr />
    </div>
    <div class="form-group">
        <strong>@Html.DisplayNameFor(x => x.Role)</strong>
        <br />
        (From most preferred to least preferred)
        <div>
            <div style="display:inline-block; width: 280px;">@Html.TextBoxFor(x => x.Role, new { @class = "form-control" })</div> <div>@Html.ValidationMessageFor(model => model.Role)</div>
        </div>
    </div>

        <hr />

    <button type="submit" class="btn btn-default">Register</button>
    <p>
        Please be patient after clicking Register. Your League of Legends account data is downloaded from the Riot servers which can take a few seconds.
    </p>
}

<script type="text/javascript">
    $(document).ready(function() {
        $('.summonerName').change(function (event) {
            var callerId = event.target.id;
            var jsonData = { name: $(this).val() };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSummonerInfo", "Register")',
                dataType: 'html',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(jsonData),
                async: true,
                success: function (data) {
                    $('#' + callerId + 'Info').html(data);
                }
            });
        });
    });
</script>
