@using System
@using System.Linq
@using System.Web
@using LoLTournament.Models
@model ScheduleIndexViewModel

<div class="teams-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message-small">
                    <br />
                    <h1>Registered teams</h1>
                    <hr class="intro-divider">
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-12">
                <div class="clearfix"></div>

                @if (DateTime.Now >= Model.RegistrationCloseDate)
                {
                    <div class="alert alert-warning" role="alert">Registration is closed.</div>
                }
                else if (Model.Teams.Count() >= 32)
                {
                    <div class="alert alert-warning" role="alert">The tournament is full and registration is closed.</div>
                }
                else if (Model.Teams.Count() == 31)
                {
                    <div class="alert alert-warning" role="alert">There is only <b>@(32 - Model.Teams.Count())</b> more spot available.
                    </div>
                }
                else
                {
                    <div class="alert alert-warning" role="alert">There are <b>@(32 - Model.Teams.Count())</b> more spots available. <a href="@Url.Action("Index", "Register")">Register</a> now to reserve your spot!
                    </div>
                }

                <h3>Registered teams</h3>
                @if (!Model.Teams.Any())
                {
                    <p>No teams registered yet.</p>
                }
                else
                {
                    <ul>
                        @foreach (var t in Model.Teams)
                        {
                            <li>
                                @t.Name
                            </li>
                        }
                    </ul>
                }

                @if (Model.TeambuilderParticipants.Any())
                {
                    <h3>People still looking for a team</h3>
                    <p>Do you have room in your team for one of the roles below? Send us an email and we'll get you in touch with each other!</p>
                    <ul>
                        @foreach (var t in Model.TeambuilderParticipants)
                        {
                            <li>Someone who prefers to play (in order): <strong>@t.Roles</strong></li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</div>
