@model LoLTournament.Models.ScheduleIndexViewModel

<div class="teams-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message-small">
                    <br />
                    <h1>Registered teams</h1>
                    <hr class="intro-divider">
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-12">
                <div class="clearfix"></div>

                @if (DateTime.Now >= Model.RegistrationStartEarlyBird && DateTime.Now <= Model.RegistrationStartDate)
                {
                    <div class="alert alert-warning" role="alert">
                        Tournament registration is currently only open to CognAC and Dorans members. The registration opens up to everyone soon.
                    </div>
                }
                else if (DateTime.Now >= Model.RegistrationCloseDate || DateTime.Now <= Model.RegistrationStartEarlyBird)
                {
                    <div class="alert alert-warning" role="alert">Registration is closed.</div>
                }
                else if (Model.Teams.Count() >= 32)
                {
                    <div class="alert alert-warning" role="alert">The tournament is full and registration is closed.</div>
                }
                else if (Model.Teams.Count() == 31)
                {
                    <div class="alert alert-warning" role="alert">There is only <b>@(32 - Model.Teams.Count())</b> more spot available.
                    </div>
                }
                else if (Model.Teams.Count() == 11)
                {
                    <div class="alert alert-warning" role="alert">
                        There is only <b>@(12 - Model.Teams.Count())</b> more exclusive spot available for CognAC and Dorans members.
                    </div>
                }
                else if (DateTime.Now >= Model.RegistrationStartEarlyBird && DateTime.Now < Model.RegistrationStartDate)
                {
                    <div class="alert alert-warning" role="alert">There are <b>@(12 - Model.Teams.Count())</b> more exclusive spots available for CognAC and Dorans members. <a href="@Url.Action("Index", "Register")">Register</a> now to reserve your spot! Registration opens up to all RU students January 25th.
                    </div>
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        There are <b>@(32 - Model.Teams.Count())</b> more spots available. <a href="@Url.Action("Index", "Register")">Register</a> now to reserve your spot!
                    </div>
                }

                <h3>Registered teams</h3>
                @if (!Model.Teams.Any())
                {
                    <p>No teams registered yet.</p>
                }
                else
                {
                    <ul>
                        @foreach (var t in Model.Teams)
                        {
                            <li>
                                <a href="@Url.Action("Team", "Schedule", new RouteValueDictionary {{"teamId", @t.Id}})">@t.Name</a>
                            </li>
                        }
                    </ul>
                }

                @if (Model.TeambuilderParticipants.Any())
                {
                    <h3>People still looking for a team</h3>
                    <p>Are you also looking for a team? Register yourself for our <a href="@Url.Action("Teambuilder", "Register")">team builder</a>.</p>
                    <ul>
                        @foreach (var t in Model.TeambuilderParticipants)
                        {
                            <li>Someone who prefers to play (in order): <strong>@t.Roles</strong></li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</div>
