<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CognAC League of Legends Tournament 2015</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LoL Tournament", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Information", "Information", "Home")</li>
                    <li>@Html.ActionLink("Teams", "Index", "Timetable")</li>
                    <li>@Html.ActionLink("Schedule", "Statistics", "Timetable")</li>
                    <li>@Html.ActionLink("Photos", "Photos", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div style="float:right; margin-top: -8px"><a href="https://github.com/StevenReitsma/lolcognac-website" title="GitHub repository"><img src="~/Content/Images/GitHub-Mark-32px.png" /></a></div>
            <p>&copy; @DateTime.Now.Year - <a href="http://svcognac.nl/">Studievereniging CognAC</a> - League of Legends committee</p>

        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
